body{
    position: relative;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

form{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

