*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: cornflowerblue;
  height: 50px;
}

.input{
  padding: 4px;
  font-size: 15px;
  /* background-color: antiquewhite; */
  /* border-radius: 5px; */
  
}

#input1{
  width: 400px
}

#input2{
  width: 400px
}

#input3{
  width: 300px
}

.nav-box{
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-button{
  width: 80px;
  background-color: yellow;
  padding: 5px;
  font-size: medium;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

.second-container{
  padding: 8px;
  /* margin-top: 10px; */
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.second-container .task-boxes{
  width: 350px;
  height: 95%;
  border-radius: 5px;
  border: 1px solid black
}

.box-title{
  text-align: center;
  font-size: 1.5rem;
  height: 4%;
  border-bottom: 1px solid black;
}

#box-title1{
  background-color: rgb(255, 132, 0);
  
}

#box-title2{
  background-color: blanchedalmond;
}

#box-title3{
  background-color: greenyellow;
}

#box-title4{
  background-color: yellowgreen;
}

