*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  background-color: cornflowerblue;
  /* height: 55px; */
}



.input{
  padding: 4px;
  font-size: 15px;
  /* background-color: antiquewhite; */
  /* border-radius: 5px; */
}


#input1{
  width: 400px
}

/* #input2{
  width: 400px
}

#input3{
  width: 300px
} */


.nav-box{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
} 



.nav-button{
  width: 80px;
  background-color: yellow;
  padding: 5px;
  font-size: medium;
  /* font-weight: 500; */
  border-radius: 4px;
  cursor: pointer;
}

.second-container{
  padding: 8px;
  /* margin-top: 10px; */
  width: 100vw;
  height: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFF4B7;
  
}

.second-container .task-boxes{
  width: 300px;
  height: 95%;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  background-color: white;
  
} 

.box-title{
  text-align: center;
  font-size: 1.5rem;
  height: 4%;
  border-bottom: 1px solid black;
}


#box-title1{
  background-color: rgb(255, 132, 0);
  
}

#box-title2{
  background-color: blanchedalmond;
}

#box-title3{
  background-color: greenyellow;
}

#box-title4{
  background-color: yellowgreen;
}

.box-items{
  height: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  
  /* background-color: antiquewhite; */
}
/* 

.blur-class {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); 
  background: rgba(255, 255, 255, 0.2); 
} */

.task-card:active{
  opacity: 0.7;
  border: 1px solid #111;
}

.drop_area{
  width: 100%;
  height: 360px;
  columns: #dcdcdc;
  border: 1px dashed #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  
}

.hide_drop{
  opacity: 0;
}

@media (max-width: 1500px) {
  .navbar{
    flex-direction: column;
    width: 100%;
    
  }

  .nav-input-container{
    width: 100%;
  }

  #input1{
    width: 100%;
  }

  .nav-box{
    display: flex;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

  }

  .input2{
    width: 600px;
    background-color: white;
  }

  .input3{
    width: 300px;
    background-color: white;
  }


  .nav-button{
    width: 100%;
  }
}


@media (max-width: 1200px) {
  .second-container{
    flex-wrap: wrap;
  }
}





